# 0. General libraries

In [15]:
#Importing basic libraries
import pandas as pd
import numpy as np
import datetime

In [35]:
#Importing libraries for the API task
import re
import requests as req
import json

In [16]:
#Importing libraries to avoid warnings
import warnings
import itertools
warnings.filterwarnings("ignore")

**1. Open CSV file.**

In [17]:
#Reading file test
data = pd.read_csv('./data/test.csv')

In [18]:
#Exploring data
display(data.head())
print(data.dtypes)
print(data.shape)

      imie    nazwisko data_urodzenia
0  Jadwiga     Bilecka     01.01.1978
1    Rafal       Bobek     11.04.1978
2   Robert  Bobekowski     20.07.1978
3    Rafal  Bobikowski     28.10.1978
4    Rafal      Brobek      5.02.1979

imie              object
nazwisko          object
data_urodzenia    object
dtype: object
(108, 3)

**2. Print number of people that born after 1999-12-31**

In [19]:
#Converting data into date format and converting into int.
data['data_urodzenia'] = pd.to_datetime(data['data_urodzenia'])
data['data_urodzenia'] = data['data_urodzenia'].dt.strftime("%Y%m%d").astype(int)

In [20]:
#Selecting people born after 1999-12-31
people_1999 = data[data.data_urodzenia > 19991231]

In [21]:
#Making sure it worked
people_1999.min()

imie                Andrzej
nazwisko          Polkowiak
data_urodzenia     20000603
dtype: object

In [23]:
print(f'The number of people who were born after 1999-12-31 is {len(people_1999)}')

The number of people who were born after 1999-12-31 is 27

**3. Print all names that end with "a". Names cannot be repeated.**

In [28]:
a_names = [x for x in data.imie if x[-1]=='a']

In [30]:
a_names_nonrepeat = []
for name in a_names:
    if name not in a_names_nonrepeat:
        a_names_nonrepeat.append(name)

In [34]:
print(f'The names ending in "a" are: {a_names_nonrepeat}')

The names ending in "a" are: ['Jadwiga', 'Liliana', 'Katarzyna', 'Barbara', 'Kalina', 'Jolanta', 'Pelagia', 'Ewa', 'Krystyna', 'Elwira']

**Write FLICKR client**