**Importing Libraries**

In [1]:
#Importing basic libraries
import pandas as pd
import numpy as np
import datetime

In [22]:
#Importing libraries for the API task
import re
import requests as req
import json
from dotenv import load_dotenv
load_dotenv()
import os
import io

#Importing sqlite library
import sqlite3

In [3]:
#Importing libraries to avoid warnings
import warnings
import itertools
warnings.filterwarnings("ignore")

In [4]:
#Importing API flikr
import flickrapi

**1. Open CSV file.**

In [5]:
#Reading file test
data = pd.read_csv('./data/test.csv')

In [6]:
#Exploring data
display(data.head())
print(data.dtypes)
print(data.shape)

      imie    nazwisko data_urodzenia
0  Jadwiga     Bilecka     01.01.1978
1    Rafal       Bobek     11.04.1978
2   Robert  Bobekowski     20.07.1978
3    Rafal  Bobikowski     28.10.1978
4    Rafal      Brobek      5.02.1979

imie              object
nazwisko          object
data_urodzenia    object
dtype: object
(108, 3)

**2. Print number of people that born after 1999-12-31**

In [7]:
#Converting data into date format and converting into int.
data['data_urodzenia'] = pd.to_datetime(data['data_urodzenia'])
data['data_urodzenia'] = data['data_urodzenia'].dt.strftime("%Y%m%d").astype(int)

In [8]:
#Selecting people born after 1999-12-31
people_1999 = data[data.data_urodzenia > 19991231]

In [9]:
#Making sure it worked
people_1999.min()

imie                Andrzej
nazwisko          Polkowiak
data_urodzenia     20000603
dtype: object

In [10]:
print(f'The number of people who were born after 1999-12-31 is {len(people_1999)}')

The number of people who were born after 1999-12-31 is 27

**3. Print all names that end with "a". Names cannot be repeated.**

In [11]:
a_names = [x for x in data.imie if x[-1]=='a']

In [12]:
a_names_nonrepeat = []
for name in a_names:
    if name not in a_names_nonrepeat:
        a_names_nonrepeat.append(name)

In [13]:
print(f'The names ending in "a" are: {a_names_nonrepeat}')

The names ending in "a" are: ['Jadwiga', 'Liliana', 'Katarzyna', 'Barbara', 'Kalina', 'Jolanta', 'Pelagia', 'Ewa', 'Krystyna', 'Elwira']

**4. Write FLICKR client**

In [14]:
#Installed in conda environment flickrapi. Requested API KEY. Created .gitignore and .env/
import flickrapi
import urllib
from PIL import Image
import wget

In [35]:
#This function makes sure we have the key provided for the API. Then it executes with the keyword and the number of images we want. If there is no input for the number of images, it automatically downloads 100 images.

if not 'KEY' in os.environ:
    raise ValueError('This function requires a Flickr KEY in orer to work.')

API_KEY = os.environ["KEY"]
API_SECRET = os.environ["KEY_SECRET"]
flickr=flickrapi.FlickrAPI(API_KEY, API_SECRET, cache=True)

def get_images(keywords, number_pages=100):
    obj = flickr.walk(text=keywords,
                           tags=keywords,
                           extras='url_c')    
    urls = []    
    for photo in obj:
        try:
            url=photo.get('url_c')
            urls.append(url)
            if len(urls) > number_pages-1:
                break
        except ValueError:
            continue
    for i, e in enumerate(urls):      
        images = wget.download(e)
        
    return images

In [36]:
images = get_images('pokemon', 4)

**Put data in sqlite**

In [32]:
#Connecting to sqlite
conn = sqlite3.connect("SQLite_Python.db")

In [37]:
#WIP. Not finished

for i in range(100):
    images.to_sql(f"image{i}", conn, if_exists="replace")
    conn.close()

AttributeError: 'str' object has no attribute 'to_sql'